#PCB
PCBs/MainBoard/Kicad_MiniSumo-backups/
PCBs/MainBoard/fp-info-cache
PCBs/MainBoard/Kicad_MiniSumo.kicad_prl
PCBs/MainBoard/~Kicad_MiniSumo.kicad_pcb.lck

PCBs/ConnsBoard/Kicad_MiniSumo_up-backups/
PCBs/ConnsBoard/fp-info-cache
PCBs/ConnsBoard/Kicad_MiniSumo_up.kicad_prl
PCBs/ConnsBoard/~Kicad_MiniSumo_up.kicad_pcb.lck

#STM32
Firmware/HardwareTest/Drivers/*
Firmware/HardwareTest/Debug/*
Firmware/HardwareTest/.metadata/
Firmware/HardwareTest/.cproject
Firmware/HardwareTest/.mxproject
Firmware/HardwareTest/.project
Firmware/HardwareTest/.settings/
Firmware/HardwareTest/MiniSumo_TEST Debug.launch
Firmware/HardwareTest/HardwareTest Debug.launch

#SVN reporistory
*.gitignore